<div class="row homediv">
    <div class="card col-sm-4 col-xs-6">
        
        <div class="card-block well">
            <h4 class="card-title">View All Targets</h4>
            <p class="card-text">View list of all targets and their details, add/edit targets.</p>    
            <a ui-sref="targets" class="btn btn-primary">All Targets</a>        
        </div>
            
    </div>
    <div class="card col-sm-4 col-xs-6">

        <div class="card-block well">
            <h4 class="card-title">View All Target's Performance</h4>
            <p class="card-text">View performance (profit) of all targets by fisacal year.</p>
            <a ui-sref="OverallPerformance" class="btn btn-primary">Overall Performance</a>
        </div>
    </div>
</div>


